{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<script src="{{ url_for('static',filename='jquery-latest.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='jquery.tagcloud.0-0-1.js') }}" type="text/javascript"></script>
<div id="tag-content">
    <div id="tagcloud">
        <div>
            <h3>Trending Slices of News:</h3>
        </div>
        {% for term in l %}
           <a href="{{ url_for('term_results', term=term[0].decode('utf-8')) }} " rel="{{ term[1] }}"> {{ term[0].decode('utf-8') }} </a>

        {% endfor %}
    </div>
</div>
<ol>
<div id="home-1">
    We Peel the articles for you.
</div>
<div id="home-2">
    Show you the juicest slices of the story.
</div>
<div id="home-3">
    Allow you to taste more stories before committing to reading the whole thing.
</div>
<script>
    $.fn.tagcloud.defaults = {
        size: {start: 14, end: 20, unit: 'pt'},
        color: {start: '#cde', end: '#f52'}
    };

    $(function () {
        $('#tagcloud a').tagcloud();
    });

</script>
</ol>
        <div id="reader_footer">
            <ul>
                <li class="footer-col">
                    <h4>Learn More</h4>
                </li>
                <li class="footer-col">
                    <h4>Find Stories</h4>
                </li>
                <li class="footer-col">Contact</li>

            </ul>
        </div>

{% endif %}
{% endblock %}
