<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Slice.me</title>
<script src="{{ url_for('static',filename='jquery-1.8.3.min.js') }}" type="text/javascript"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div style="margin-left: 22%; margin-right: 22%;  height: 3em; border: 0px solid #ccc;  border-radius: 10px;">
    <a href="/home" style="text-decoration: none; font-family: Calibri; font-size: 2.8em; color: white;"><b>#sli<strong style="color: #FF9900">c</strong>e</b></a>
    <input id="search_query" style=" margin-bottom:1em; margin-top:10px; margin-left: 5em; width: 20em; height: 2em; border-radius: 10px;" type="text" autocomplete="off" placeholder="Search news"tabindex="1">
    <a class="awesome">log in</a>
    <a class="awesome" href="/all"> top stories </a>
</div>
{% block body %}{% endblock %}