<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Reader</title>
<script src="{{ url_for('static',filename='jquery-1.8.3.min.js') }}" type="text/javascript"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div id="navigation">
    <a href="{{ url_for('homepage') }}">Home</a>
    <a href="{{ url_for('read_stories')}}">Read News</a>
    <a href="{{ url_for('show_entries')}}">Score Stories</a>
    <a href="#">About</a>
    {% if not session.logged_in %}
       <a href="{{ url_for('login') }}">log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
</div>
<div class=page>
  <h1>Reader</h1>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
