{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
   <div id="container-4">
        <div id="box-4-3" class="box">
           {% for i in range(1,7) %}
                <div id="story">
                <a href="{{ url_for('abridged', sid = entries['cur_ids'][i]) }}" style="text-decoration: none">
                    <h4> {{r.smembers('news:nytimes:%s:headline' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8') }} </h4>
                    <p> {{r.smembers('news:nytimes:%s:paragraph_1' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8')[:250] + "..." }} </p>
              </a> </div>
           {% endfor %}
        </div>
        <div id="box-4-3" class="box">
           {% for i in range(8,15) %}
                <div id="story">
                   <a href="{{ url_for('abridged', sid = entries['cur_ids'][i]) }}" style="text-decoration: none">
                    <h4> {{r.smembers('news:nytimes:%s:headline' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8') }} </h4>
                    <p> {{r.smembers('news:nytimes:%s:paragraph_1' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8')[:250] + "..." }} </p>
               </a>
            </div>
           {% endfor %}
        </div>
        <div id="box-4-3" class="box">
           {% for i in range(16,19) %}
                <div id="story">
                   <a href="{{ url_for('abridged', sid = entries['cur_ids'][i]) }}" style="text-decoration: none">
                    <h4> {{r.smembers('news:nytimes:%s:headline' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8') }} </h4>
                    <p> {{r.smembers('news:nytimes:%s:paragraph_1' % entries['cur_ids'][i]).pop().replace("[","").replace("]","").decode('utf-8')[:250] + "..." }} </p>
               </a> </div>
           {% endfor %}
        </div>
</div>


  {% endif %}
{% endblock %}
