{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div class="keyword_stories">

            {% for i in range(0,8) %}
            {% if i <= (n-1) %}
            <div id="story-key-clear">
                <a href="{{ url_for('abridged', sid = entries['cur_ids'][0][i]) }}" style="text-decoration: none">
                    <h3> {{ r.hget('item:news:%s' % entries['cur_ids'][0][i],'headline').decode('utf-8') }} </h3>
                    <hr>
                    <p> {{ r.get('content:%s:paragraph_1' % entries['cur_ids'][0][i]).decode('utf-8') }} </p>

                </a>
            </div>
            {% endif %}
            {% endfor %}

</div>
{% endif %}
{% endblock %}
