{% extends "layout.html" %}
{% block body %}
   <div id="abridged-article">
      <h2>
         <a href="{{ r.hget('item:news:%s' % entries['sid'][0],'outurl').replace("[","").replace("]","").replace("'","")  }}">{{ r.hget('item:news:%s' % entries['sid'][0],'headline').replace("[","").replace("]","").decode('utf-8') }}</a>
     </h2> 
  
   {% for i in entries['top5'] %}
      <div> {{ r.get('content:%s:paragraph_%s' % (entries['sid'][0], i)).replace("[","").replace("]","").decode('utf-8').replace('\n','') }}</div>
     <div>...........</div>
   {% endfor %}
   </div>
{% endblock %}
