{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div id="container-4">
    <div id="box-4-3" class="box">
        {% for i in range(0,8) %}
        {% if i < (n-1) %}
            <div id="story">
                <a href="{{ url_for('abridged', sid = entries['cur_ids'][0][i]) }}" style="text-decoration: none">
                    <h4> {{ r.hget('item:news:%s' % entries['cur_ids'][0][i],'headline') }} </h4>
                    <p> {{ r.get('content:%s:paragraph_1' % entries['cur_ids'][0][i]).decode('utf-8')[:250] + "..." }} </p>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="box-4-3" class="box">
        {% for i in range(8,15) %}
        {% if i < (n-1) %}
        <div id="story">
            <a href="{{ url_for('abridged', sid = entries['cur_ids'][0][i]) }}" style="text-decoration: none">
                <h4> {{ r.hget('item:news:%s' % entries['cur_ids'][0][i],'headline') }} </h4>
                <p> {{ r.get('content:%s:paragraph_1' % entries['cur_ids'][0][i]).decode('utf-8')[:250] + "..." }} </p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="box-4-3" class="box">
        {% for i in range(15,22) %}
        {% if i < (n-1) %}
        <div id="story">
            <a href="{{ url_for('abridged', sid = entries['cur_ids'][0][i]) }}" style="text-decoration: none">
                <h4> {{ r.hget('item:news:%s' % entries['cur_ids'][0][i],'headline') }} </h4>
                <p> {{ r.get('content:%s:paragraph_1' % entries['cur_ids'][0][i]).decode('utf-8')[:250] + "..." }} </p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endif %}
{% endblock %}
